---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Pagination.astro';
import ProjectPreview from '../../components/ProjectPreview.astro';
import siteConfig from '../../data/site-config';
import { sortItemsByDateDesc } from '../../utils/data-utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
    return paginate(projects, { pageSize: siteConfig.projectsPerPage || 6 });
}

type Props = { page: Page<CollectionEntry<'projects'>> };

const { page } = Astro.props;
const portfolio = page.data;
---

<BaseLayout
    title="Portfolio Projects"
    description="Explore a diverse portfolio showcasing my passion and expertise in creating innovative projects. Discover how my skills can bring value to your business."
    image={{ src: 'https://dynamic-og-image-generator.vercel.app/api/generate?title=Explore+a+diverse+portfolio+showcasing&author=Yousuf+Hossain&websiteUrl=https%3A%2F%2Fyhshanto.dev&avatar=https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F30166239&theme=github', alt: 'A github themed image titled as explore portfolio projects' }}
    showHeader={false}
>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Projects</h1>
    {portfolio.map((project) => <ProjectPreview project={project} class="mb-10 sm:mb-12" />)}
    <Pagination page={page} class="my-16 sm:my-24" />
</BaseLayout>
